# Copier ce fichier en .env et remplir avec vos vraies valeurs
# Ne jamais committer le fichier .env !

SECRET_KEY=votre_secret_jwt_ici
GOOGLE_CLIENT_ID=votre_google_client_id.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=votre_google_client_secret
